html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name ='viewport', content='initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no')
    title='微信授权登陆'
    script(src='/js/wechat.js')
  body
    button(onClick=`javascript:jumpWechat('${appid}')`)='hello'+appid